@model BiBilet.Web.ViewModels.EventEditModel

@{
    ViewBag.Title = "Etkinlik oluştur";
}

<section id="createEvent">
<h1 class="page-header">
    @ViewBag.Title
</h1>

<div class="row">
    <div class="col-md-12">
        <section id="eventForm">
            @using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                <h4 class="page-header">Genel bilgiler</h4>

                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Title, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.Title)}})
                        @Html.ValidationMessageFor(m => m.Title)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OrganizerId, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.OrganizerId, Model.Organizers, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.OrganizerId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate, new {@class = "col-md-2 control-label"})
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.StartDate, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.StartDate)}})
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </div>

                    @Html.LabelFor(m => m.EndDate, new {@class = "col-md-2 control-label"})
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.EndDate, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.EndDate)}})
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </div>
                </div>

                <h4 class="page-header">Etkinlik Mekânı</h4>

                <div class="form-group">
                    @Html.LabelFor(m => m.VenueName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.VenueName, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.VenueName)}})
                        @Html.ValidationMessageFor(m => m.VenueName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.VenueAddress, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.VenueAddress, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.VenueAddress)}})
                        @Html.ValidationMessageFor(m => m.VenueName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.VenueCity, new {@class = "col-md-2 control-label"})
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.VenueCity, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.VenueCity)}})
                        @Html.ValidationMessageFor(m => m.VenueCity)
                    </div>

                    @Html.LabelFor(m => m.VenueCountry, new {@class = "col-md-2 control-label"})
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.VenueCountry, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.VenueCountry)}})
                        @Html.ValidationMessageFor(m => m.VenueCountry)
                    </div>
                </div>

                <h4 class="page-header">Detaylar</h4>

                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Description, new {htmlAttributes = new {data_tinymce = "event", @class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.Description)}})
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Image, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        <div id="event-image-preview">
                            <button type="button" class="btn btn-default btn-sm uploader-trigger">
                                <i class="glyphicon glyphicon-camera"></i>
                            </button>
                            <img src="@Model.Image" class="uploader-preview" alt="Etkinlik Resmi"/>
                            @Html.HiddenFor(m => m.Image)
                        </div>
                    </div>
                </div>

                <h4 class="page-header">Biletler</h4>

                <div class="panel panel-default" id="ticket-container">
                    <div class="panel-body">
                        @foreach (var ticketItem in Model.Tickets.AsEnumerable())
                        {
                            Html.RenderPartial("_TicketItem", ticketItem);
                        }
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary btn-sm create-ticket" data-type="free">
                                <span class="glyphicon glyphicon-plus"></span> Bedava Bilet
                            </a>
                            <a href="#" class="btn btn-primary btn-sm create-ticket" data-type="paid">
                                <span class="glyphicon glyphicon-plus"></span> Ücretli Bilet
                            </a>
                        </div>
                    </div>
                </div>

                <h4 class="page-header">Ayarlar</h4>

                <div class="form-group">
                    @Html.LabelFor(m => m.Slug, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Slug, new {htmlAttributes = new {@class = "form-control", placeholder = Html.DisplayPlaceholderFor(m => m.Slug)}})
                        @Html.ValidationMessageFor(m => m.Slug)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CategoryId, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.CategoryId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TopicId, new {@class = "col-md-2 control-label"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.TopicId, Model.Topics, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.TopicId)
                    </div>

                    @Html.LabelFor(m => m.SubTopicId, new {@class = "col-md-2 control-label"})
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SubTopicId, Model.SubTopics, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.SubTopicId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="alert alert-danger">
                            <p>
                                Etkinliğin aktif olabilmesi için <b>Yayınla</b> seçilmelidir.
                            </p>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.Published) @Html.DisplayNameFor(m => m.Published)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        &nbsp; <span class="text-info">@ViewBag.StatusMessage</span>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<!-- Image Uploader Modal -->
<div class="modal fade" id="imageUploaderModal" tabindex="-1" role="dialog" aria-labelledby="imageUploaderLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("UploadEventImage", "Event", FormMethod.Post, new {role = "form"}))
            {
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="imageUploaderLabel">Organizatör Resmi Yükle</h4>
                </div>
                <div class="modal-body">
                    <div class="crop-editor" data-width="240" data-height="360">
                        <div class="cropit-preview"></div>
                        <div class="cropit-controls">
                            <input type="range" class="cropit-image-zoom-input"/>
                            <input type="file" name="file" class="cropit-image-input">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>
</section>

@section Scripts {
    @Scripts.Render("~/assets/js/tinymce/tinymce.min.js")
}